* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #eee7cd;
    display: flexbox;
    flex-direction: column;
   
    
}

.footer {
    background-color: #546f68;

  
    width: 100%;
    padding: 40px;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #eee7cd;
}

.titulo {
    font-family: poppins;
    text-align: center;
    margin: 40px;
    color: #cc4d3a;
    
    
}

.titulo h1 {
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 40px;
}

.header {
    background-color: #546f68;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo {
    width: 130px;
    margin-left: 20px;
}




.bar-btn {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;

}

.nav-menu li a {
    color: #eee7cd;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    text-decoration: none;

}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #cc4d3a;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}


.main {
    font-family: poppins;
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 100px;
    background-size: cover;
    background-position: center;




}

.main p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;


}

/* Productos */
.tituloProd {
    font-family: poppins;
    color: #cc4d3a;
    text-align: center;
    padding: 40px;

}

.tituloProd h1 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 5px;
}

.logopedidosya{
    display: flex; 
    background-color: #202020;
    padding: 30px;
    justify-items:baseline;  
}

.logopedidosya a:hover{
    width: 85px ;
}

.logopedidosya a{
    width: 80px;
}

.logopedidosya span{
    text-align: center;
    font-family: poppins;
    color: #fff;
    font-weight: 500;
    
}

.pedidosya{
    font-weight: 600;
    background-color: #ff0000;
    padding: 5px;
    margin: 5px;
}

/* contacto*/

.maincontact{
    padding: 60px;
    font-family: poppins   ;
}

.maincontact p {
    font-size: 18px;
    color: #202020;
}


.logoscontact{
    display: flex;
    justify-content: space-evenly;
    background-color: #202020;
    padding: 40px;
}

.logoscontact img {
    width: 50px;
    padding: 10px;
}

.parrafocontacto {
    background-color: #202020;
    text-align: center;
    font-family: poppins;
    padding: 30px;
    border-bottom: 1px solid #eee7cd;
}

.parrafocontacto p {
    color: #eee7cd;
    font-size: 20px;
}

.spancontacto {
    color: #eee7cd;
    text-decoration: none;
    font-family: poppins;
    font-size: 12px;
}
.anchors{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 12px;

    }

    .main {
        width: 100%;
        text-align: center;
        display: block;
        
    }

    .logopedidosya{
        display: flex;
        justify-content: space-evenly;
        align-content: center;

    }
    .logopedidosya span {
        margin-top: 20px;
    }

    }








@media screen and (max-width: 768px) {
 
    
    .logopedidosya{
        display: flex;
        justify-content: space-around;
        align-content: center;

    }

    
}


