* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #eee7cd;
    display: flexbox;
    flex-direction: column;
   
    
}

.footer {
    background-color: #546f68;

  
    width: 100%;
    padding: 40px;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #eee7cd;
}

.titulo {
    background-image: url('../public/images/parador2.jpeg');
    font-family: poppins;
    text-align: center;
    
    color:#eee7cd;    
    padding: 150px 100px;	
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
  
}

.titulo:before{
    content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.titulo h1 {
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 60px;
    position: relative;
}

.header {
    background-color: #546f68;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;

}

.logo {
    width: 130px;
    margin-left: 20px;
}




.bar-btn {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;

}

.nav-menu li a {
    color: #eee7cd;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    text-decoration: none;

}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #cc4d3a;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}

.mapUbicacion{
   text-align: center;
   padding: 50px;
}


.main {
    font-family: poppins;
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 100px;
    background-size: cover;
    background-position: center;
    margin: 20px;





}

.main p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    margin: 20px;


}

.buttonDownload{
    background-color: #546f68;
    font-family: poppins;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    
    
}

.buttonDownload a {
    color: #eee7cd;
    text-decoration: none;
}

.buttonDownload:hover{
    background-color: #202020;
}

/* Productos */
.tituloProd {
    font-family: poppins;
    color: #cc4d3a;
    text-align: center;
    padding: 40px;

}

.tituloProd h1 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 5px;
}

.logopedidosya{
    display: flex; 
    background-color: #202020;
    padding: 30px;
    justify-items:baseline;  
}

.logopedidosya a:hover{
    transform: scale(1.3); ;
}

.logopedidosya a{
    width: 80px;
    transition: all .3s ease-in-out;
}

.logopedidosya span{
    text-align: center;
    font-family: poppins;
    color: #fff;
    font-weight: 500;
    
}

.pedidosya{
    font-weight: 600;
    background-color: #ff0000;
    padding: 5px;
    margin: 5px;
}

/* contacto*/
.ubicacion{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.maincontact{
    padding: 60px;
    font-family: poppins   ;
}

.maincontact p {
    font-size: 18px;
    color: #202020;
}
.maincontact h2 {
    text-align: center;
    color: #cc4d3a;
    padding: 30px;

}

.mapUbicacion{
    text-align: center;
    padding: 50px;
    border-top: 1px solid #202020;
 }

.logoscontact{
    display: flex;
    justify-content: space-evenly;
    background-color: #202020;
    padding: 40px;
}

.logoscontact img {
    width: 60px;
    padding: 10px;
}

.parrafocontacto {
    background-color: #202020;
    text-align: center;
    font-family: poppins;
    padding: 30px;
    border-bottom: 1px solid #eee7cd;
}

.parrafocontacto p {
    color: #eee7cd;
    font-size: 20px;
}

.spancontacto {
    color: #eee7cd;
    text-decoration: none;
    font-family: poppins;
    font-size: 12px;
}
.anchors{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: all .3s ease-in-out;
}
.anchors:hover{
    transform: scale(1.3);
}

/* catalogos */

.productsBody{
    background-color: #202020;

}

.catalogoTitle{
    font-family: poppins;
    text-align: center;
    grid-area: titulo;
    width: 100%;
    
    

}

.catalogoTitle h1 {
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 60px;
    position: relative;
    padding: 100px;
    color: #ffffff;
    border-bottom: 1px solid #202020;
    text-shadow: 0 0 5px rgb(212, 212, 212)
  
}

.catalogoProd{
display: grid;
grid-template-areas: 'titulo titulo'
'lista lista';
}

.listBebidas{
    grid-area: lista;
    width: 100%;
    
  
}

.listaCongelados{
    grid-area: lista;
    width: 100%;

}


.listaProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

.itemProd{
    font-family: poppins;
    padding: 15px;
    border: 2px solid #546f68;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(212, 212, 212, 0.5)  ;

    
}

.itemProd button {
    background-color: #546f68;
    color: #eee7cd;
    font-family: poppins;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;

}

.itemProd button:hover{
    background-color: #202020;
}



.itemProd img {
    width: 200px;
    
    
   
}



.titleProd{
    font-size: 18px;
    text-align: center;
    margin: 30px;
    padding: 20px;
    font-weight: 400;
    background-color: #546f68;
    border-radius: 20px;
    color: #eee7cd;
    box-shadow: 0px 10px 10px rgba(67, 67, 67, 0.5)  ;
    
    
    
}

.priceProd{
    font-size: 20px;
    color: #202020;
    text-align: center;
    margin: 20px;
    font-weight: 500;
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 12px;

    }

    .main {
        width: 100%;
        text-align: center;
        display: block;
        
    }

    .logopedidosya{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
     

    }

    
    
    .logopedidosya span {
        margin-top: 20px;
    }

    }





    .catalogoTitle h1{
        text-align: center;
        font-size: 50px;
        padding: 10px;
        text-shadow: 0 0 5px rgb(255, 255, 255);
        font-weight: 500;
    }


@media screen and (max-width: 768px) {
 
    
    .logopedidosya{
        display: flex;
        justify-content: space-around;
        align-content: center;

    }

    
}


